/*
HAND INPUT PLUGINS'S CODE
 */
.flexy-slider {
  position: relative;
  .flexy-slide {
    display: block;
    width: 100%;
    min-height: 100px;
    z-index: 1;
  }
  .red {
    background: red;
  }
  .blue {
    background: blue;
  }
  .green {
    background: green;
  }
}
