/*
FLEX-BOX STYLES
 */

.flex-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.flex-start {
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-center {
  align-items: center;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-align-stretch {
  align-items: stretch;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col-1 {
  flex-basis: 100%;
}
.flex-col-2 {
  flex-basis: 50%;
}
.flex-col-3 {
  flex-basis: 33.33%;
}
.flex-col-4 {
  flex-basis: 25%;
}
.flex-col-5 {
  flex-basis: 20%;
}